/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: inherit;
}
body {
  background: url(imgs/bg.png) no-repeat center center/cover;
}
/* header section styling */
#header-section {
  margin-bottom: 9rem;
}
.container {
  width: 90%;
  overflow: hidden;
  margin: 1rem auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .navbar .left,
.navbar .right {
  flex: 1;
} */
.navbar .left {
  display: flex;
  align-items: center;
}
.navbar .left img {
  width: 25px;
  height: 25px;
  margin: 0 0.75rem;
}

.navbar ul {
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar ul li a {
  padding: 0 1.9rem;
  text-decoration: none;
}

.btn {
  background: #004f76;
  padding: 0.5rem 1rem;
  border: none;
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  background: #0b2938;
}

/* main section styling */
.flex-container {
  display: flex;
  justify-content: space-between;
}
.info-left,
.info-right {
  flex: 1;
}

.info-left .l-heading {
  font-size: 3.5rem;
  text-align: center;
  color: #004f76;
  margin-bottom: 5rem;
}

.info-left p {
  text-align: center;
  margin-bottom: 1.5rem;
}

.btn-radius {
  background: #004f76;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  color: #fff;
  cursor: pointer;
  margin: auto;
  display: flex;
 
}

.btn-radius:hover {
  background: #0b2938;
}

.info-right img {
  width: 100%;
  padding: 0 1.9rem;
}

/* responsiveness */
@media (max-width: 500px) {


  #header-section {
    margin-bottom: 4rem;
  }


  .navbar {
    display: block;
  }
  .container {
    width: 80%;
  }
  .navbar .right ul {
    display: block;
    text-align: center;
  }
  .navbar .right ul li {
    margin-top: 1.5rem;
  }
  .navbar img,
  .navbar p {
    display: none;
  }
  .flex-container {
    display: block;
  }
  .info-left {
    display: block;
  }

  .info-right {
    display: block;
    margin-top: 3rem;
  }
  .info-right img {
    width: 100%;
  }
}
